/* Bootstrap simplifies our workflow, but it's still helpful to add our own CSS */
/* This file will include CSS to override Bootstrap defaults */

/* Typography */
body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Bree Serif', serif;
}
.badge {
    font-family: 'Raleway', sans-serif;
}
/* Wordmark */
#wordmark {
    font-family: 'Bree Serif', serif;
    font-size: 1.4em;
}
#wordmark svg{
    fill: white;
}
#wordmark span{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.4em;
}
/* Hero */
#hero {
    background-image: url(../img/sabbath.jpg);
    background-size: cover;
    background-position: 50% 30%;
    background-blend-mode: soft-light;
}

#chumly #hero {
    background-image: url(../img/chumly.jpg);
}
#chumly #numbers{
    background-image: url(../img/dandelions.jpg);
    background-size: cover;
    background-position: 50% 30%;
    background-blend-mode: soft-light;
}
#chumly #numbers .row {
    background-color: #ffffff66;
}
#chumly .progress {
    height:100%;
}

/* Dark background */
.bg-dark {
    background-color: #382d44!important;
}
.dropdown-menu-dark {
    background-color: #2e2538!important;
}
.bg-secondary {
    background-color: #978ca3!important;
}
.dropdown-menu-dark .dropdown-item.active, .dropdown-menu-dark .dropdown-item:active {
    background-color: #59377e;
}
.bg-info{
    background-color: #e6dbac!important;
}